
@font-face {
    font-family: 'latolight';
    src: url('lato-light.eot');
    src: url('lato-light.eot?#iefix') format('embedded-opentype'),
         url('lato-light.woff2') format('woff2'),
         url('lato-light.woff') format('woff'),
         url('lato-light.ttf') format('truetype'),
         url('lato-light.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoblack';
    src: url('lato-black.eot');
    src: url('lato-black.eot?#iefix') format('embedded-opentype'),
         url('lato-black.woff2') format('woff2'),
         url('lato-black.woff') format('woff'),
         url('lato-black.ttf') format('truetype'),
         url('lato-black.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold';
    src: url('lato-bold.eot');
    src: url('lato-bold.eot?#iefix') format('embedded-opentype'),
         url('lato-bold.woff2') format('woff2'),
         url('lato-bold.woff') format('woff'),
         url('lato-bold.ttf') format('truetype'),
         url('lato-bold.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoheavy';
    src: url('lato-heavy.eot');
    src: url('lato-heavy.eot?#iefix') format('embedded-opentype'),
         url('lato-heavy.woff2') format('woff2'),
         url('lato-heavy.woff') format('woff'),
         url('lato-heavy.ttf') format('truetype'),
         url('lato-heavy.svg#latoheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoheavyitalic';
    src: url('lato-heavyitalic-webfont.eot');
    src: url('lato-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-heavyitalic-webfont.woff2') format('woff2'),
         url('lato-heavyitalic-webfont.woff') format('woff'),
         url('lato-heavyitalic-webfont.ttf') format('truetype'),
         url('lato-heavyitalic-webfont.svg#latoheavyitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('lato-italic.eot');
    src: url('lato-italic.eot?#iefix') format('embedded-opentype'),
         url('lato-italic.woff2') format('woff2'),
         url('lato-italic.woff') format('woff'),
         url('lato-italic.ttf') format('truetype'),
         url('lato-italic.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('lato-light.eot');
    src: url('lato-light.eot?#iefix') format('embedded-opentype'),
         url('lato-light.woff2') format('woff2'),
         url('lato-light.woff') format('woff'),
         url('lato-light.ttf') format('truetype'),
         url('lato-light.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolightitalic';
    src: url('lato-lightitalic.eot');
    src: url('lato-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('lato-lightitalic.woff2') format('woff2'),
         url('lato-lightitalic.woff') format('woff'),
         url('lato-lightitalic.ttf') format('truetype'),
         url('lato-lightitalic.svg#latolightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('lato-regular.eot');
    src: url('lato-regular.eot?#iefix') format('embedded-opentype'),
         url('lato-regular.woff2') format('woff2'),
         url('lato-regular.woff') format('woff'),
         url('lato-regular.ttf') format('truetype'),
         url('lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latomedium';
    src: url('lato-medium-webfont.eot');
    src: url('lato-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-medium-webfont.woff2') format('woff2'),
         url('lato-medium-webfont.woff') format('woff'),
         url('lato-medium-webfont.ttf') format('truetype'),
         url('lato-medium-webfont.svg#latomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latosemibold';
    src: url('lato-semibold-webfont.eot');
    src: url('lato-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-semibold-webfont.woff2') format('woff2'),
         url('lato-semibold-webfont.woff') format('woff'),
         url('lato-semibold-webfont.ttf') format('truetype'),
         url('lato-semibold-webfont.svg#latosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}