$greenColor: #00bc70;
$greenColorRGBA: rgba(0,188,112,1);
$goldColor: #ffb928;

.cf:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.cf {display: inline-block;}
* html .cf {height: 1%;}
.cf {display: block;}

body {
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	color: #141414;
    font-family: 'latolight';
}
body, html {
	height:100%;
	width:100%;
}
.left {
	float: left;
}
.right {
	float: right;
}
.container {
	position:relative;
	max-width:1200px;
	padding:0px 20px;
	margin:0 auto;
}
img {
    height: auto;
    max-width: 100%;
}
.wow {
	visibility: hidden;
}
.delay0-1s { -webkit-animation-delay: 0.1s;	-moz-animation-delay: 0.1s;	-o-animation-delay: 0.1s;	animation-delay: 0.1s; }
.delay0-2s { -webkit-animation-delay: 0.2s;	-moz-animation-delay: 0.2s;	-o-animation-delay: 0.2s;	animation-delay: 0.2s; }
.delay0-3s { -webkit-animation-delay: 0.3s;	-moz-animation-delay: 0.3s;	-o-animation-delay: 0.3s;	animation-delay: 0.3s; }
.delay0-4s { -webkit-animation-delay: 0.4s;	-moz-animation-delay: 0.4s;	-o-animation-delay: 0.4s;	animation-delay: 0.4s; }
.delay0-5s { -webkit-animation-delay: 0.5s;	-moz-animation-delay: 0.5s;	-o-animation-delay: 0.5s;	animation-delay: 0.5s; }
.delay0-6s { -webkit-animation-delay: 0.6s;	-moz-animation-delay: 0.6s;	-o-animation-delay: 0.6s;	animation-delay: 0.6s; }
.delay0-7s { -webkit-animation-delay: 0.7s;	-moz-animation-delay: 0.7s;	-o-animation-delay: 0.7s;	animation-delay: 0.7s; }
.delay0-8s { -webkit-animation-delay: 0.8s;	-moz-animation-delay: 0.8s;	-o-animation-delay: 0.8s;	animation-delay: 0.8s; }
.delay0-9s { -webkit-animation-delay: 0.9s;	-moz-animation-delay: 0.9s;	-o-animation-delay: 0.9s;	animation-delay: 0.9s; }
.delay1s { -webkit-animation-delay: 1s;	-moz-animation-delay: 1s;	-o-animation-delay: 1s;	animation-delay: 1s; }
.delay1-1s { -webkit-animation-delay: 1.1s;	-moz-animation-delay: 1.1s;	-o-animation-delay: 1.1s;	animation-delay: 1.1s; }
.delay1-2s { -webkit-animation-delay: 1.2s;	-moz-animation-delay: 1.2s;	-o-animation-delay: 1.2s;	animation-delay: 1.2s; }
.delay1-3s { -webkit-animation-delay: 1.3s;	-moz-animation-delay: 1.3s;	-o-animation-delay: 1.3s;	animation-delay: 1.3s; }
.delay1-4s { -webkit-animation-delay: 1.4s;	-moz-animation-delay: 1.4s;	-o-animation-delay: 1.4s;	animation-delay: 1.4s; }
.delay1-5s { -webkit-animation-delay: 1.5s;	-moz-animation-delay: 1.5s;	-o-animation-delay: 1.5s;	animation-delay: 1.5s; }
.delay1-6s { -webkit-animation-delay: 1.6s;	-moz-animation-delay: 1.6s;	-o-animation-delay: 1.6s;	animation-delay: 1.6s; }
.delay1-7s { -webkit-animation-delay: 1.7s;	-moz-animation-delay: 1.7s;	-o-animation-delay: 1.7s;	animation-delay: 1.7s; }
.delay1-8s { -webkit-animation-delay: 1.8s;	-moz-animation-delay: 1.8s;	-o-animation-delay: 1.8s;	animation-delay: 1.8s; }
.delay1-9s { -webkit-animation-delay: 1.9s;	-moz-animation-delay: 1.9s;	-o-animation-delay: 1.9s;	animation-delay: 1.9s; }
.delay2s { -webkit-animation-delay: 2s;	-moz-animation-delay: 2s;	-o-animation-delay: 2s;	animation-delay: 2s; }

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF EIGHT  */
.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
  	width: 87.3%;
}

.span_6_of_8 {
  	width: 74.6%;
}

.span_5_of_8 {
  	width: 61.9%;
}

.span_4_of_8 {
  	width: 49.2%;
}

.span_3_of_8 {
  	width: 36.5%;
}

.span_2_of_8 {
  	width: 23.8%;
}

.span_1_of_8 {
  	width: 11.1%;
}
.span_4_of_4 {
	width: 100%;
}
.span_3_of_4 {
	width: 74.6%;
}
.span_2_of_4 {
	width: 49.2%;
}
.span_1_of_4 {
	width: 23.8%;
}
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }
.no-top-bottom-margin {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
	.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
a {
	color: inherit;
	text-decoration: none;
}
header#mainHdr {
	background-image: url(../images/header-background.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	height: 100px;
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: #e9e9e9;
	border-bottom: solid 10px $greenColor;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;

	#logo {
		img {
			display: block;
			height: 100px;
			top: 10px;
			position: relative;
			-moz-transition: all .4s ease;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}
	}

	#mainNav {
		a {
			text-transform: uppercase;
			font-size: 18px;
			color: #000000;
			text-decoration: none;
			height: 93px;
			line-height: 100px;
			-moz-transition: all .4s ease;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}
		#rightNav {
			padding-left: 10px;
		}

		#navWrap {
			ul {
				margin: 0px;
				padding: 0px;
				list-style: none;
				letter-spacing: -6px;
				text-align: right;

				li {
					letter-spacing: 0px;
					display: inline-block;
					position: relative;

					a {
						display: block;
						height: 94px;
						padding: 0px 14px;

						&:after {
							content: '';
							position: absolute;
							width: 100%;
							left: 0px;
							bottom: 0px;
							height: 0px;
							background-color: $goldColor;
							z-index: -1;
							-moz-transition: all .4s ease;
							-webkit-transition: all .4s ease;
							-o-transition: all .4s ease;
							transition: all .4s ease;
						}
					}

					&.menu-item-has-children {
						padding-right: 24px;

						& > a {
							&:before {
		  						font-family: 'FontAwesome';
		  						content: "\f0d7";
								position: absolute;
								top: -1px;
								right: 17px;
								-moz-transition: all .4s ease;
								-webkit-transition: all .4s ease;
								-o-transition: all .4s ease;
								transition: all .4s ease;
							}
						}
					}

					ul.sub-menu {
						background-color: rgba(255,255,255,0.98);
						border-top: solid 10px $greenColor;
						position: absolute;
						border-left: solid 1px #e5e5e5;
						border-right: solid 1px #e5e5e5;
						border-bottom: solid 1px #e5e5e5;
						white-space: nowrap;
						opacity: 0;
						top: 100px;
						left: 0px;
						z-index: 101;
						visibility: hidden;
						-moz-transition: all .4s ease;
						-webkit-transition: all .4s ease;
						-o-transition: all .4s ease;
						transition: all .4s ease;

						-moz-transition-delay: 0.2s;
						-webkit-transition-delay: 0.2s;
						-o-transition-delay: 0.2s;
						transition-delay: 0.2s;

						li {
							display: block;
							text-align: left;
							border-bottom: solid 1px #e5e5e5;
							padding-right: 0px;

							a {
								height: auto;
								text-transform: none;
								color: #525151 !important;
								padding: 0px;
								height: 50px;
								line-height: 50px;
								padding: 0px 50px 0 25px;

								&:after {
									display: none;
								}
								&:before {
									-webkit-transform: rotate(-90deg);
									-moz-transform: rotate(-90deg);
									-o-transform: rotate(-90deg);
									transform: rotate(-90deg);
								}

								&:hover {
									background-color: $greenColor;
									color: #fff !important;
								}
							}

							ul.sub-menu {
								left: auto;
								right: 0px;
								top: -10px;
								transform: translate(110%, 0px);
							}

							&:last-child {
								border-bottom: 0px;
							}
						}
					}

					&:hover {

						a {
							color: #ffffff;

							&:after {
								height: 100px;
							}
						}
						ul.sub-menu {
							opacity: 1;
							visibility: visible;

							li {
								ul.sub-menu {
									opacity: 0;
									visibility: hidden;
								}

								&:hover {
									ul.sub-menu {
										transform: translate(100%, 0px);
										opacity: 1;
										visibility: visible;
									}
								}
							}
						}
					}

				}
			}
		}
	}
	#headerAngle {
		background-image: url(../images/header-angle-bg.png);
		background-repeat: no-repeat;
		background-position: center top;
		height: 34px;
		text-align: right;
    	font-family: 'Avenir Next';
    	font-size: 18px;
    	box-sizing: border-box;
    	padding-top: 6px;

    	a {
    		color: #ffffff;
    		text-decoration: none;
    		text-transform: uppercase;
    		font-size: 18px;

    		img {
    			vertical-align: text-top;
    		}
    	}
    	.twitch-online {
    		border-radius: 0px;
    		background-color: transparent;
    		margin: 0px;
    		padding: 0px;
    		border: 0px;

    		&::before {
    			content: '';
    			background-image: url(../images/live.png);
    			width: 52px;
    			height: 22px;
    			animation-duration: 2s;
    			margin-left: 0px;
    			margin-right: 10px;
    			vertical-align: text-top;
    		}
    	}
	}

	&.notAtTop {
		background-position: calc(50% - 100px) bottom;
		height: 60px;

		#logo {
			img {
				top: 5px;
				height: 60px;
			}
		}

		#mainNav {

			a {
				line-height: 55px;
			}

			#navWrap {
				ul {
					li {
						a {
							height: 53px;
						}
						ul.sub-menu {
							top: 60px;
						}
					}
				}
			}
		}
	}
}
#slider {
	background-repeat: no-repeat;
	background-position: center top;

	#sliderInner {
		padding-bottom: 14px;
		background-image: url(../images/slider-bottom.png);
		background-repeat: no-repeat;
		background-position: center bottom;
	}
}
#hpContent {
	padding-top: 70px;
	padding-bottom: 70px;
	line-height: 30px;
	text-align: justify;
}
.transbg {
	background-image: url(../images/trans-bg.png);
	background-repeat: no-repeat;
	background-position: top center;
}
#featuredSpots {
	border-bottom: solid 3px $goldColor;

	#yellowTop {
		background-image: url(../images/yellow-angle-top.png);
		background-repeat: no-repeat;
		background-position: center top;
		height: 100px;
		box-sizing: border-box;

		h3 {
			display: inline-block;
			font-weight: normal;
    		font-family: 'Avenir Next';
    		text-transform: uppercase;
    		color: #ffffff;
    		font-size: 30px;
		}

		a {
			color: #000000;
			text-decoration: none;
		}
	}
	#featuredSliderContainer {
		background-color: #ffb928;
		background-image: url(../images/patone-pattern.png);
		background-repeat: repeat-x;
		background-position: center top;
		padding-top: 25px;
		padding-bottom: 30px;
		margin-bottom: 1px;

		#featuredSpotSlider {
			margin-bottom: 0px;

			.slick-prev {
			    left: -38px;
			}

			.item {
				background-color: #ffffff;
				border: solid 1px #ffffff;
				position: relative;
				overflow: hidden;
				box-sizing: border-box;
				width: 285px !important;
				margin-right: 19px;

				a {
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 5;
					box-sizing: border-box;
					border: solid 1px #ffffff;
					-moz-transition: all .4s ease;
					-webkit-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;
				}

				.picWrap {
					padding: 28px 25px 29px 25px;
					box-sizing: border-box;
					height: 367px;
					text-align: center;
					display: table;
					width: 100%;

					.picInner {
						display: table-cell;
						width: 100%;
						height: 100%;
						vertical-align: middle;

						img {
							display: block;
							margin: 0 auto;
							max-height: 310px;
						}
					}
				}
				.buttonWrap {
					text-align: center;
					line-height: 20px;
					height: 50px;
					box-sizing: border-box;
					padding-top: 5px;
					position: relative;

					.productName {
						text-align: center;
						font-size: 16px;
						text-transform: uppercase;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						margin: 0 auto;
						width: 200px;
					}
					.productPrice {
			    		font-family: 'Avenir Next';
			    		color: #00bc70;
					}
					.bottom,
					.bottomHover {
						background-image: url(../images/featured-prod-btm.png);
						background-repeat: no-repeat;
						background-position: center bottom;
						background-size: 100% auto;
						position: absolute;
						width: 100%;
						height: 50px;
						bottom: 0px;
						left: 0px;
						-moz-transition: all .4s ease;
						-webkit-transition: all .4s ease;
						-o-transition: all .4s ease;
						transition: all .4s ease;
					}
					.bottomHover {
						background-image: url(../images/featured-prod-btm-hover.png);
						color: #ffffff;
			    		font-family: 'Avenir Next';
						bottom: -50px;
						text-transform: uppercase;
						line-height: 50px;
						font-size: 18px;
					}
				}
				&:hover {
					a {
						border-color: $greenColor;
					}
					.buttonWrap {
						.bottom {
							bottom: -50px;
						}
						.bottomHover {
							bottom: 0px;
						}
					}
				}
			}
		}
	}
}
#howsItWork {
	background-color: #eeeeee;
	background-image: url(../images/patone-pattern.png);
	background-repeat: repeat-x;
	background-position: center top;
	padding-top: 20px;
	padding-bottom: 85px;
	margin-bottom: 2px;

	h3 {
		display: inline-block;
		font-weight: normal;
		font-family: 'Avenir Next';
		text-transform: uppercase;
		color: #000000;
		font-size: 30px;

		a {
    		font-family: 'latolight';
    		text-transform: none;
    		font-size: 18px;
			color: $greenColor;
			text-decoration: none;
		}
	}

	#hiwItems {
		display: flex;
		justify-content: space-between;

		.item {
			background-image: url(../images/hiwItem.png);
			background-repeat: no-repeat;
			box-sizing: border-box;
			height: 443px;
			width: 387px;
			padding: 30px 95px 30px 25px;
			line-height: 30px;
			color: #141414;

			h4 {
				margin-top: 0px;
				font-weight: normal;
				font-size: 24px;
				text-transform: uppercase;
				margin-bottom: 0px;
				color: #bbbbbb;

				span {
    				font-family: 'Avenir Next';
    				color: #00bc70;
				}
			}
		}
	}
}
#instagramWrap {
	border-top: solid 11px $goldColor;
	border-bottom: solid 11px $goldColor;
	margin-bottom: 2px;
	height: 320px;
	overflow: hidden;

	.instagram-video,
	.instagram-sidecar,
	.instagram-image {
		width: 300px !important;
		height: 300px !important;
		margin: 10px 5px !important;
	}
}
footer {
	background-color: $greenColor;
	padding: 50px 0 100px 0;

	hr {
		border: 0px;
		height: 1px;
		background-color: #ffffff;
		opacity: 0.5;
		margin: 30px 0;
	}

	#logoSocials {
		width: 135px;

		#socialIcons {
			display: flex;
			justify-content: space-between;

			a {
				color: #ffffff;
				-moz-transition: all .4s ease;
				-webkit-transition: all .4s ease;
				-o-transition: all .4s ease;
				transition: all .4s ease;

				&:hover {
					color: $goldColor;
				}
			}
		}
	}

	#linksWrap {
		width: 70%;
		display: flex;

		strong {
			color: #000000;
			text-transform: uppercase;
			font-size: 20px;
    		font-family: 'Avenir Next';
    		font-weight: normal;
    		display: block;
    		padding-bottom: 8px;
    		position: relative;
		}

		.linkColumn {
			width: 50%;
			box-sizing: border-box;
			padding-right: 70px;

			ul {
				column-count: 2;
				margin: 0px;
				padding: 0px;
				list-style: none;

				li {
					a {
						color: #ffffff;
						text-decoration: none;
						line-height: 30px;
						-moz-transition: all .4s ease;
						-webkit-transition: all .4s ease;
						-o-transition: all .4s ease;
						transition: all .4s ease;

						&:hover {
							color: $goldColor;
						}
					}
				}
			}
			&.col1 {
				ul {
					column-count: 1;
				}
			}
		}
	}
	#footerLeftText {
		color: #ffffff;
		font-size: 12px;

		a {
			color: inherit;
			text-decoration: none;
		}
	}
}


#productList {
	border-left: solid 1px #dbdbdb;
	margin-left: 285px;
	box-sizing: border-box;
	padding-bottom: 130px;
	position: relative;
	min-height: 800px;
	
	#shopRightTop {
		height: 50px;
		border-bottom: solid 1px #dbdbdb;
		padding-left: 40px;
	}

	#cartTL {
		line-height: 52px;
	    font-family: 'montserratlight';
		color: #000000;
		font-size: 18px;
		text-transform: uppercase;
		
		strong {
	    	font-family: 'montserratlight';
			font-weight: normal;
			color: #898989;
		}
	}
	#cartTR {
		width: 430px;
		select {
			background-color: #ffffff;
			border: 0px;
			border-left: solid 1px #dbdbdb;
			box-sizing:border-box;
		    font-family: 'montserratlight';
		    text-transform: uppercase;
		    background-image: url(../images/select-bg.png);
		    background-repeat: no-repeat;
		    background-position: center right;
		    font-size: 18px;
		    padding-left: 30px;
		    display: block;
		    position: relative;
		    z-index: 20;
			height: 49px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 100%;

			&::-ms-expand {
				display: none;
			}
		}
	}
}

.woocommerce-ordering {
	display: none !important;
}
%catlink {
	color: #000000;
	font-size: 16px;
    font-family: 'Avenir Next';
	text-decoration: none;
	text-transform: uppercase;
	height: 50px;
	line-height: 52px;
	display: block;
	padding-left: 25px;
	border-top: solid 1px #dbdbdb;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	transition: all .4s ease;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
}
%catlinkfa {
	font-size: 22px;
	color: #000000;
	position: absolute;
	right: 10px;
	top: 15px;
	transition: all .4s ease;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
}
#mobile-categories {
}
.mac #mobile-categories {
}
.pc.chrome #mobile-categories {
}
.pc.mozilla #mobile-categories {
}
#categoryListWrapper {
	width: 285px;


	ul {
		margin: 0px;
		padding: 0px;
		list-style: none;

		li {
			.catLink {
			    @extend %catlink;

			    &:before {
			    	content: '';
			    	height: 50px;
			    	width: 0px;
			    	position: absolute;
			    	top: 0px;
			    	left: 0px;
			    	background-color: $goldColor;
			    	-moz-transition: all .4s ease;
			    	-webkit-transition: all .4s ease;
			    	-o-transition: all .4s ease;
			    	transition: all .4s ease;
			    }

			    .fa {
			    	@extend %catlinkfa;
			    }

			}
			&.active,
		    &:hover {
		    	.catLink {
			    	color: $greenColor;

			    	&:before {
			    		width: 11px;
			    	}
			    }
		    }
		}
	}
}
#mobile-category-btn {
	@extend %catlink;

	.fa {
		@extend %catlinkfa;
	}
}

#mobile-category-btn .fa {
	position: absolute;
	right: 10px;
	top: 15px;
}
#mobile-category-btn {
	padding-left: 25px;
	display: none;
	cursor: pointer;
}
#categoryListWrapper ul li.active .catLink .fa,
#mobile-category-btn.active .fa {
	transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
#categoryListWrapper ul li .prod-sub {
	background-color: #f3f4f5;
	border-top: solid 1px #dbdbdb;
	padding: 10px 0px 10px 35px;
	display: none;
}
#categoryListWrapper ul li:last-child {
	border-bottom: solid 1px #dbdbdb;
}
#categoryListWrapper ul li .prod-sub a {
	display: block;
	color: #7f7f7f;
	text-decoration: none;
	line-height: 45px;
	font-size: 18px;
	transition: all .4s ease;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
}
#categoryListWrapper ul li .prod-sub a:hover {
	color: #000000;
}
#categoryListWrapper ul li .catLink-sub {

}
#categoryListWrapper ul li ul li:last-child {
	border-bottom: 0px;
}

.woocommerce {

	.woocommerce-breadcrumb {
		margin-bottom: 20px;
	}

	.woocommerce-cart-form button.button {
		display: inline-block;
		width: 200px;
	}

	.related.products {
		ul.products {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-flow: row wrap;
			-ms-flex-flow: row wrap;
			flex-flow: row wrap;
			-webkit-justify-content: center;
			-ms-flex-pack:justify;
			justify-content:center;

			&::after {
				display: none;
			}
		}
	}

	ul.products {
		padding-left: 20px;
		padding-right: 0px;
		padding-bottom: 0px;
		width: 100%;
		clear: none;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;

		&::before {
			display: none;
		}

		li.product {
			width: 285px;
			margin: 0px 0px 10px 0px;
			margin-right: 19px;
			border: solid 1px transparent;
			box-sizing:border-box;
			padding: 0px;
			position: relative;
			transition: all .4s ease;
			-moz-transition: all .4s ease;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;

			&.first {
				clear: none;
			}
			&:nth-child(3n){
				margin-right: 0px;
			}

			&:hover {

				.divider {
					.divider-rollover {
						width: 100%;
					}
				}
			}

			a {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				z-index: 5;
				display: block;				
			}

			.img-wrap {
				position: relative;
				padding: 20px;
				height: 370px;
				box-sizing: border-box;
				display: table;
				width: 100%;

				.imgInner {
					display: table-cell;
					width: 100%;
					height: 370px;
					vertical-align: middle;
				}

				.featuredPic {
					margin-left: auto;
					margin-right: auto;
					display: block;
					max-height: 330px;
				}
			}

			.divider {
				background-color: #969696;
				height: 5px;
				position: relative;

				.divider-rollover {
					position: absolute;
					margin-left: auto;
					margin-right: auto;
					left: 0;
					right: 0;
					height: 5px;
					width: 0%;
					background-color: $goldColor;
					transition: all .4s ease;
					-moz-transition: all .4s ease;
					-webkit-transition: all .4s ease;
					-o-transition: all .4s ease;					
				}
			}

			.prod-title-wrap {

				h2.woocommerce-loop-product__title {
					margin: 0px;
					padding: 0px;
					padding-top: 15px;
					font-weight: normal;
					text-transform: uppercase;
					color: #000000;
					text-align: center;
					font-size: 16px;
					margin-bottom: 8px;
					line-height: 20px;

					position: relative;
					/* top: 50%;
					transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-o-transform: translateY(-50%); */
				}
			}

			.product-price {
				text-align: center;
				color: $greenColor;
				font-size: 16px;				
    			font-family: 'Avenir Next';
			}

			.price {
				color: $greenColor;
				font-size: 16px;				
    			font-family: 'Avenir Next';

				ins {
					color: $greenColor;
					font-weight: normal;
				}
				del {
					color: $greenColor;
    				font-family: 'Avenir Next';
				}
				del, ins {
					display: inline;
				}
			}
		}
	}
	
	nav.woocommerce-pagination {
		ul {
			border: solid 1px #dbdbdb;
			margin-bottom: 20px;
			padding: 10px 20px;

			li {
				border-right: 0px;				
			}
		}
	}
	#cartTR {
		nav.woocommerce-pagination {
			float: left;

			ul {
				border: 0px;
				margin: 0px;

				li {
					a, span {
						color: #000000;
					    font-family: 'montserratlight';
					    font-size: 18px;
					    padding: 5px;
					    min-width: inherit;
						transition: all .4s ease;
						-moz-transition: all .4s ease;
						-webkit-transition: all .4s ease;
						-o-transition: all .4s ease;
					}
					a:focus,
					a:hover,
					span.current,
					a.next:hover::after {
						background-color: transparent;
						color: #898989;
					}
					a.next {
						font-size: 0px !important;

						&::after {
							font: normal normal normal 14px/1 FontAwesome;
							font-size: 20px;
							text-rendering: auto;
							content: '\f105';
							color: #000000;
							position: relative;
							top: -2px;
							transition: all .4s ease;
							-moz-transition: all .4s ease;
							-webkit-transition: all .4s ease;
							-o-transition: all .4s ease;
						}
					}
					a.prev {
						font-size: 0px !important;

						&::after {
							font: normal normal normal 14px/1 FontAwesome;
							font-size: 20px;
							text-rendering: auto;
							content: '\f105';
							color: #000000;
							position: relative;
							top: -2px;
							transition: all .4s ease;
							-moz-transition: all .4s ease;
							-webkit-transition: all .4s ease;
							-o-transition: all .4s ease;
							content: '\f104';
						}
					}
				}
			}
		}
	}
	.woocommerce-result-count {
		display: none;
	}
	.form-wppp-select.products-per-page {
		float: left !important;
		margin-left: 0px !important;
		width: 330px !important;
	}
	.woocommerce-message {
		border-top-color: #898989;

		&::before {
			color: #898989;
		}
	}
	form {
		.form-row {
			textarea#order_comments {
				height: 13em;
			}	
		} 	
	}
	.related {
		ul {
			margin-top: 0px;
			
			li {
				span {
					&.price {
					}
				}
			}
		}	
	} 
}
div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_arrow_previous,
div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_previous::before,
div.pp_woocommerce .pp_arrow_next, div.pp_woocommerce .pp_next::before {
	font-size: 23px !important;
}

#topWrapper {
	padding-left: 50px;

}
#pageTitleWrap {
	padding-top: 50px;

	h1 {
    	font-family: 'montserratbold';
    	text-transform: uppercase;
    	font-weight: normal;
    	font-size: 46px;
	}

	h2 {
		font-size: 30px;
		text-align: center;
		padding-bottom: 10px;
	}
}


#product-left-wrap {
	width: 793px;
	box-sizing: border-box;

	#thumbnails-wrap {
		width: 133px;
		padding-top: 20px;
		padding-bottom: 20px;

		.slick-slide {
			border: solid 1px #dbdbdb;
			margin-bottom: 12px;
			width: 133px;
			height: 133px;
			border: solid 1px #dbdbdb;
			padding: 3px;
			position: relative;
			box-sizing: border-box;
			background-color: #ffffff;
			transition: all .4s ease;
			-moz-transition: all .4s ease;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
		}
		
		.woocommerce-product-gallery__image {
			display: table !important;
			width: 127px;
			height: 127px;

			a {
				display: table-cell;
				width: 100%;
				height: 100%;
				vertical-align: middle;
				text-align: center;
				-moz-transition: all .4s ease;
				-webkit-transition: all .4s ease;
				-o-transition: all .4s ease;
				transition: all .4s ease;

				img {
					max-height: 100%;
					margin: 0 auto;
					width: auto;
				}
			}

			&:hover {
				border-color: $greenColor;
			}
		}
	}

	#main-image {
		width: 641px;
		height: 620px;
		box-sizing: border-box;
		border: solid 1px #dbdbdb;
		max-height: 620px;
		padding: 0px;
		position: relative;

		a {
			display: table-cell;
			width: 580px;
			height: 580px;
			vertical-align: middle;

			img {
				margin: 0 auto;
				width: auto;
				max-height: 536px;
				max-width: 599px;
			}
		}
	}
}
#product-right-wrap {
	width: 388px;

	h1 {
		margin: 0px;
		padding: 0px;
		font-weight: normal;
		font-size: 24px;
		line-height: 26px;
		text-transform: uppercase;
    	font-family: 'Avenir Next';
		color: #000000;
	}

	hr {
		border: 0px;
		margin: 20px 0;
		height: 1px;
		background-color: #dbdbdb;
	}
}
.woocommerce span.onsale {
	margin: 0px;
	padding: 0px;
	top: 1px;
	left: 21px;
	background-color: transparent;
	background-image: url(../images/sales.png);
	width: 59px;
	height: 59px;
	border-radius: 0px;
	text-align: left;
	box-sizing: border-box;
	font-size: 0px;
}
#product-right-wrap #category-sku-wrap {
	color: #8a8a8a;
    font-family: 'montserratlight';
	font-size: 16px;
	margin-bottom: 5px;
}
#product-right-wrap #price-wrap {
	margin-bottom: 20px;
	margin-top: 12px;

	p {
		margin-top: 0px;
	}
}
#product-right-wrap #price-wrap p.price,
#product-right-wrap #price-wrap span.price,
.woocommerce div.product #product-right-wrap p.price ins {
	color: $greenColor;
    font-family: 'Avenir Next';
	font-size: 28px;
	font-weight: normal;
}
#product-right-wrap #price-wrap p {
	margin-bottom: 0px !important;
}
#product-right-wrap #prod-desc, 
#product-right-wrap #share-wrap {
	line-height: 30px;
}
.woocommerce div.product #product-right-wrap p.price del {
	font-size: 16px;
}
#product-right-wrap #category-sku-wrap .sku_wrapper,
#product-right-wrap #category-sku-wrap .posted_in {
	display: block;
}
#product-right-wrap #category-sku-wrap .posted_in a {
	color: inherit;
}
.woocommerce div.product div.images div.thumbnails {
	padding-top: 0px;
}
.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
	float: none;
	width: auto;
}
.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a {
	float: none;
	width: auto;
	margin-right: 0px;
}
.reldivider {
	height: 1px;
	margin: 80px 0px 50px 0px;
	background-color: #dbdbdb;
}
.woocommerce #product-right-wrap form.cart div.quantity {
	float: none;
	display: block;
    font-family: 'latobold';
	margin-bottom: 11px;
}
.woocommerce #product-right-wrap .quantity .qty {
	width: 100%;
	background-color: #dddddd;
	border: 0px;
	border-radius: 3px;
	box-sizing: border-box;
	height: 40px;
}
.woocommerce button.button {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	color: #ffffff;
	text-transform: uppercase;
	border: 0px;
	height: 46px;
    font-family: 'latobold';
    font-size: 18px;
    font-weight: normal;
    -moz-transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;

    &:hover {
    	background-color: $goldColor;
    }
}
.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	height: 100%;
	box-sizing: border-box;
	padding: 20px;

	.woocommerce-product-gallery__image {
		display: table;
		width: 100%;
		height: 100%;

		a {
			display: table-cell;
			height: 100%;
			width: 100%;
			vertical-align: middle;
			text-align: center;
		}
	}
}
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover {
	background-color: #ff9b69;
}
.woocommerce div.product form.cart .variations select {
	background-color: #dddddd;
	border: 0px;
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 40px;
	padding-left: 5px;
}
.woocommerce div.product form.cart .reset_variations {
	display: none;
}
.woocommerce div.product form.cart .variations {
	margin-bottom: 0px;
}
.woocommerce div.product .liveBreak form.cart .variations {
	border-bottom: solid 1px #dbdbdb;
	padding-bottom: 10px;
	margin-bottom: 30px;

}
.woocommerce-variation-price {
	border-top: solid 1px rgba(0,0,0,0.1);
	padding-top: 20px;
}
.woocommerce div.product span.price {
	color: #898989;
    font-family: 'latobold';
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 5px;
}
.woocommerce-variation-price {
	border-bottom: solid 1px #dbdbdb;
	margin-bottom: 10px;
	padding-bottom: 15px;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	height: 46px;
	width: 151px;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: $greenColor;
	text-shadow: none;
	text-transform: uppercase;
	font-weight: normal;
    font-family: 'Avenir Next';
    font-size: 20px;

	transition: all .4s ease;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background-color: $goldColor;
}
.woocommerce .variations .swatch-control.radio-select ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
.woocommerce .variations .swatch-control.radio-select ul li {
	border: solid 1px #dbdbdb;
	box-sizing: border-box;
	height: 36px;
	line-height: 36px;
	position: relative;
	min-width: 58px;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.woocommerce .variations .swatch-control.radio-select ul li.active {
	border-color: #000000;
	line-height: 32px;
	border-width: 3px;
}
.woocommerce .variations .swatch-control.radio-select ul li input {
	position: absolute;
	display: none;
}
.woocommerce .variations .swatch-control.radio-select ul li label {
	cursor: pointer;
	font-weight: normal;
	margin: 0px;
	display: block;
	text-align: center;
	color: #7e7d7d;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}
.related.products {
	padding-bottom: 50px;

	h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
		padding: 20px 0;
    	font-family: 'Avenir Next';
	}

	ul.products {
		padding-top: 0px;
	}
}
#store-message-wrap {
	text-align: center;
	font-size: 18px;
	color: #000000;
	text-transform: uppercase;
	height: 51px;
	line-height: 53px;
	margin-bottom: 60px;
	margin-top: 20px;

	strong {
		font-weight: normal;
		color: #898989;
	}
}
th, td {
	padding: 0px;
	padding-bottom: 5px;
}
#thumbnails-wrap .slick-prev {
	background-image: url(../images/arrow-up.png);
	top:  0px;
	left: 0px;
	right:  auto;
}

#thumbnails-wrap .slick-next {
	background-image: url(../images/arrow-down.png);
	top: auto;
	bottom: -15px;
	left: 0px;
	right:  auto;
}
#thumbnails-wrap .slick-prev,
#thumbnails-wrap .slick-next {
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
}
#thumbnails-wrap .slick-prev::before,
#thumbnails-wrap .slick-next::before {
	display: none;
}
.woocommerce div.product div.images div.thumbnails {
	padding-top: 15px;
}
.woocommerce div.product form.cart div.quantity {
	margin-right: 0px;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
	color: #ffffff !important;
}
.woocommerce .cart .button[name="apply_coupon"] {
	background-color: #898989 !important;

	&:hover {
		background-color: #000000 !important;
		color: #ffffff !important;
	}
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	cursor: pointer;
	background-color: $greenColor;

	&:hover {
		background-color: $goldColor;
	}
}
#product-right-wrap #category-sku-wrap .sku_wrapper {
	display: none;
}

.sfm-sidebar-bg {
	background-position: 24px 17px !important;
	background-size: initial !important;
	-webkit-background-size: initial !important;
	background-attachment: scroll !important;
}
#sfm-sidebar .sfm-sidebar-bg {
	background-color: rgba(0,0,0,0.8) !important;
}

.woocommerce nav.woocommerce-pagination ul li a {
	color: inherit;
}

.woocommerce div.product form.cart table td {
	padding-bottom: 10px;
	display: block;
}
#pageTitle {
	background-image: url(../images/page-title-bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 356px;

	h1 {
		margin: 0px;
    	font-family: 'Avenir Next';
    	font-size: 72px;
		font-weight: normal;
		text-transform: lowercase;
		color: #ffffff;
		padding-top: 110px;
		line-height: 222px;
	}
}
#pageWrap {
	padding-top: 60px;
}
.wooContainer {
	border-left: solid 1px #dbdbdb;
	padding: 0px;
}
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover {
	background-color: $greenColor;
	opacity: 0.5;	
}
.woo-variation-swatches .variable-items-wrapper {
	li {
		width: 54px !important;
		box-sizing: border-box !important;
		margin-right: 12px !important;
		margin-bottom: 10px !important;

		&:nth-child(6n) {
			margin-right: 0px !important;
		}
	}
}
.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected, .woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected:hover {
	box-shadow: 0 0 0 2px $greenColorRGBA !important;
	background-color: $greenColor;
	color: #ffffff;
}
.woocommerce-variation-availability,
.reset_variations {
	display: none !important;
}
.liveBreak .single_variation_wrap .woocommerce-variation.single_variation {
	display: none !important;
}

.contentWrapper {
	padding-bottom: 40px;
	line-height: 30px;

	& > h1,
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6 {
		margin-top: 0px;
	}

	h2 {
		color: $greenColor;
    	font-family: 'Avenir Next';
		font-size: 36px;
		margin-bottom: 0px;

		& > p {
			margin-top: 0px;
		}
	}

	input[type='text'],
	input[type='tel'],
	input[type='email'],
	input[type='submit'],
	textarea,
	select {
    	font-family: 'latolight';
		font-size: 16px;
		height: 50px;
		box-sizing: border-box;
		width: 100%;
		padding: 0px 15px;
		border: solid 1px #dbdbdb;
		-moz-transition: all .4s ease;
		-webkit-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;


		&:active,
		&:focus {
			border-left: solid 15px $greenColor;
			border-color: $greenColor;
			outline: none;
		}
	}
	textarea {
		height: 160px;
		padding-top: 20px;
	}

	input[type='submit']{
		background-color: $greenColor;
		width: 33%;
		border: 0px;
		text-transform: uppercase;
		color: #ffffff;
    	font-family: 'Avenir Next';
    	font-size: 26px;
    	text-align: center;
    	cursor: pointer;
    	-moz-transition: all .4s ease;
    	-webkit-transition: all .4s ease;
    	-o-transition: all .4s ease;
    	transition: all .4s ease;

    	&:hover {
    		background-color: $goldColor;
    	}
	}
}
#faqsWrap {
	background-image: url(../images/patone-pattern.png);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #eeeeee;
	padding-top: 20px;
	padding-top: 40px;

	.faqItem {
		padding-bottom: 40px;

		.question {
			color: $greenColor;
	    	font-family: 'Avenir Next';
			font-size: 30px;
		}

		.answer {
			line-height: 30px;

			& > p {
				margin-top: 0px;
			}
		}
	}
}
hr.wp-block-separator {
	border: 0px;
	height: 1px;
	background-color: #dbdbdb;
	margin: 30px 0;	
}
.sfm-pos-right .sfm-rollback {
	right: -50px;
}
.sfm-pos-right .sfm-rollback .sfm-navicon-button {
	right: 50px !important;
	display: none;
}
.woocommerce .quantity .qty:focus,
.woocommerce .quantity .qty:active {
	border-left: 1px;
}
#popupSearch {
	position: fixed;
	height: 200px;
	background-color: rgba(0,0,0,0.8);
	color: #ffffff;
	width: 100%;
	z-index: 110;
	top: -200px;
	text-align: center;
	box-sizing: border-box;
	padding: 40px;
	transition: all .4s ease;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
}
#popupSearch h2 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
#popupSearch #searchWrap {
	width: 90%;
	display: block;
	margin: 0 auto;
	height: 50px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
#popupSearch input {
	width: 90%;
	height: 50px;
	box-sizing: border-box;
	font-size: 18px;
	border: 0px;
	padding-left: 15px;
	padding-top: 3px;
	float: left;
	border-radius: 3px 0px 0px 3px;
}
#popupSearch #searchBtn2 {
	background-color: $greenColor;
	width: 10%;
	height: 50px;
	border-radius: 0px 3px 3px 0px;
	color: #ffffff;
	text-align: center;
	line-height: 52px;
	float: right;
	cursor: pointer;
	font-size: 24px;
	transition: all .4s ease;
	-moz-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
}
#popupSearch #searchBtn2:hover {
	background-color: $goldColor;
}
#popupSearch #closeSearch {
	position: absolute;
	top: 50px;
	right: 0px;
	color: #ffffff;
	cursor: pointer;
	font-size: 25px;
}




/*Plugin CSS*/
.str_wrap {
	overflow:hidden;
	//zoom:1;
	width:100%;
	font-size:12px;
	line-height:16px;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;  
	background:#f6f6f6;
	white-space:nowrap;
}

.str_wrap.str_active {
	background:#f1f1f1;
}
.str_move { 
	white-space:nowrap;
	position:absolute; 
	top:0; 
	left:0;
	cursor:move;
}
.str_move_clone {
	display:inline-block;
	//display:inline;
	//zoom:1;
	vertical-align:top;
	position:absolute; 
	left:100%;
	top:0;
}
.str_vertical .str_move_clone {
	left:0;
	top:100%;
}
.str_down .str_move_clone {
	left:0;
	bottom:100%;
}
.str_vertical .str_move,
.str_down .str_move {
	white-space:normal;
	width:100%;
}
.str_static .str_move,
.no_drag .str_move,
.noStop .str_move{
	cursor:inherit;
}
.str_wrap img {
	max-width:none !important;	
}