#blogWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-item {
  width:31%;
  border:solid 1px #e3e3e3;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.blog-item.wider {
  margin-right:0px;
  float:none !important;
  width:616px;
  margin-bottom:30px;
}
.blog-item .blogPictureWrap .linkBtnCircle {
  top:85px;
  opacity:0;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.blog-item .blogPictureWrap:hover .linkBtnCircle {
  top:98px;
  opacity:1;
}
.blog-item .blogInfoWrap {
  padding:20px;
  padding-bottom: 80px;
}
.blog-item .blogInfoWrap h2 {
  background-image:none !important;
  text-transform:none !important;
  text-align:left !important;
  max-width:none !important ;
  padding:0px !important;
}
.blog-item .blogInfoWrap p {
  padding:0px !important;
}
.blog-item .blogPictureWrap {
  overflow:hidden;
  width:100%;
  position:relative;
  border-bottom:solid 1px #e3e3e3;
}
.blog-item.wider .blogPictureWrap {
  width:100%;
}
.blog-item .blogPictureWrap img {
  display: block;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.blog-item .blogPictureWrap:hover img {
  transform:scale(1.08);
}
.blog-item .blogPictureWrap .blogPicture-overlay {
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  opacity:0;
  left:0px;
  z-index:4;
  background-color:rgba(141,198,63,0.8);
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.blog-item .blogPictureWrap:hover .blogPicture-overlay {
  opacity:1;
}
.blog-item .blogPictureWrap .imgLink {
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  display:block;
  z-index:5;
}
.blog-item .blogLinks {
  border-top:solid 1px #e3e3e3;
  background-color:#fafafa;
  padding:20px;
}
.blog-item .blogLinks .readMoreLink {
  text-decoration:none;
  color:#000000;
  font-family:'d-din_condenseddinCnBd';
  text-transform:uppercase;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.blog-item .blogLinks .readMoreLink:hover {
  color:#8dc63f;
}
.blog-item .blogInfoWrap {
  height:280px;
  text-align:justify;
  font-size:16px;
}
.blog-item.wider .blogInfoWrap {
  height:180px;
}
article .entry-content {
  height:auto;
  color:#505050;
  text-align:justify;
}
article .entry-content p {
  padding-left:0px !important;
  padding-right:0px !important;
  margin-left:0px !important;
  margin-right:0px !important;
}
article .entry-content a {
  color:#000000;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
}
article .entry-content a:hover {
  color:#8dc63f;
}
.blog-item .blogInfoWrap h2,
article h1.entry-title  {
  font-family:'d-din_condenseddinCnBd' !important;
  font-weight:normal !important;
  text-transform:uppercase !important;
  margin:0px !important;
  padding:0px !important;
  font-size:26px !important;
  color:#8dc63f !important;
}
article h1.entry-title  {
  padding-top:10px;
  padding-bottom: 10px;
  font-size:30px !important;
}
.blog-item .blogInfoWrap .postDate,
article .entry-meta,
article .entry-meta a {
  font-family: 'latolight';
  padding-top:5px;
  color:#b0b0b0;
  text-decoration:none;
}
.blog-item .blogInfoWrap .postDate a {
  color:#b0b0b0;
  text-decoration:none;
}
article .entry-meta {
  margin-top:0px;
  padding-top:0px;
}
#secondary {
  background-color:#f1f1f1 !important;
  padding:20px !important;
}
#secondary h2.site-description {
  display:none !important;
}
#secondary ul {
  margin: 0 0 20px !important;
    padding: 10px 0 0 !important;
}
#secondary ul li {
    border-bottom: 1px solid rgba(80, 80, 80, 0.05) !important;
    list-style: outside none none !important;
    margin: 0 !important;
    padding: 5px 0 !important;
    text-align: left !important;
}
#secondary ul li a {
    color: #505050 !important;
    text-decoration: none !important;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
}
#secondary ul li a:hover {
  color:#8dc63f !important;
}
#secondary h1 {
  border-bottom: 1px solid rgba(1, 70, 83, 0.1) !important;
  font-family:'d-din_condenseddinCnBd' !important;
    font-weight: normal !important;
    height: 28px !important;
    margin: 0 !important;
    padding: 0 !important;
  text-transform:uppercase !important;
  margin-top:-5px !important;
  color:#000000 !important;
  font-size:20px !important;
}
.prev-next-posts {
  text-align:center;
  height:50px;
}
.prev-next-posts .pnBtn {
  background-color:#aeaeae;
  border-radius:39px;
  -moz-border-radius:39px;
  height:39px;
  width:39px;
  display:inline-block;
  margin-top:2px;
  background-repeat:no-repeat;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.prev-next-posts .pnBtn:hover {
  background-color:#8dc63f;
  transform:scale(1.1);
}
.prev-next-posts .nextBtn {
  background-image:url(../images/next.png);
}
.prev-next-posts .prevBtn {
  background-image:url(../images/prev.png);
}
.prev-next-posts .page-numbers {
  font-family:'d-din_condensedregular';
  color:#515151;
  font-size:19px;
  display:inline-block;
  padding:0px 4px;
  text-decoration:none;
  display:inline-block;
  line-height:30px;
  transition: all .4s ease;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
}
.prev-next-posts .page-numbers:hover,
.prev-next-posts .page-numbers.current {
  color:#8dc63f;
}
.prev-next-posts .prev,
.prev-next-posts .next {
  height:39px;
  vertical-align:bottom;
}
#tagsWrap {
  font-size:12px;
  font-style:italic;
  color:#cdcdcd;
  margin-top:25px;
}
.linkBtnCircle {
    background-image: url(../images/circle-bg.png);
    background-repeat: no-repeat;
    height: 65px;
    position: absolute;
    top: 117px;
    width: 65px;
    z-index: 20;
}

.linkBtnCircle .link {
    background-image: url(../images/icon-link.png);
    display: block;
    height: 65px;
    width: 65px;
}
.entry-header .entry-meta:first-child {
  display:none;
}
#blogSingleRight {
  float:right;
  width:360px;
}
#blogSingleLeft {
  float:left;
  width:1000px;
}
#blogSingleLeft li {
  margin-bottom: 7px;
}
aside section {
  padding: 0px;
}
aside section h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
  font-family: 'd-din_condenseddinCnBd';
  text-transform: uppercase;
  color: #8dc63f;
}
article .entry-content ul li {
  line-height: 30px;
}