
@media only screen and (max-width : 1280px) {
	header#mainHdr #headerAngle a {
		font-size: 16px;
	}
	#featuredSpots #featuredSliderContainer #featuredSpotSlider {
		padding-left: 30px;
		padding-right: 30px;
	}
	#featuredSpots #featuredSliderContainer #featuredSpotSlider .slick-prev {
		left: 0px;
	}
	#featuredSpots #featuredSliderContainer #featuredSpotSlider .slick-next {
		right: 0px;
	}
	#featuredSpots #featuredSliderContainer #featuredSpotSlider .item {
		width: 260px !important;
	}
	#howsItWork #hiwItems .item {
		background-size: 100% 100%;
		height: auto;
		margin-right: 20px;
	}
}
@media only screen and (max-width : 1225px) {
	#product-left-wrap {
		width:  763px;
	}
	#product-left-wrap #main-image {
		width: 610px;
	}
}
@media only screen and (max-width : 1200px) {
	#featuredSpots #yellowTop h3 {
		font-size: 25px;
		line-height: 70px;
	}
	#howsItWork h3 {
		font-size: 25px;
	}
	header#mainHdr #headerAngle {
		background-image: url(../images/header-angle-bg-small.png);
		background-position: top right;
	}
	.wooContainer {
		border-left: 0px;
	}
	.woocommerce ul.products li.product {
		width: 30%;
	}
	.woocommerce ul.products li.product .img-wrap {
		height: 370px;
	}
	.woocommerce ul.products li.product .img-wrap .imgInner {
		height: 330px;
	}
	#product-left-wrap,
	#product-right-wrap {
		float: none;
		margin: 0 auto;
	}
	#product-left-wrap #thumbnails-wrap {
		padding: 0px 30px;
		height: 130px;
	}
	#product-left-wrap,
	#product-right-wrap,
	#product-left-wrap #thumbnails-wrap {
		width: 620px;
	}
	#product-left-wrap #main-image,
	#product-left-wrap #thumbnails-wrap {
		float: none;
		margin-bottom: 20px;
	}
	#product-left-wrap #main-image {
		height: auto;
		width: auto;
	}
	#product-left-wrap #main-image a {
		height: auto;
		display: block;
		margin-bottom: 20px;
		width: auto;
	}
	#product-left-wrap #thumbnails-wrap #thumbnails-wrap {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-justify-content: center;
		-ms-flex-pack:justify;
		justify-content:center;
	} 
	#topWrapper {
		padding-left: 0px;
	}
	#product-right-wrap h1,
	#product-right-wrap #category-sku-wrap .sku_wrapper,
	#product-right-wrap #category-sku-wrap .posted_in,
	#product-right-wrap #price-wrap,
	#product-right-wrap #prod-desc,
	#product-right-wrap #share-wrap,
	#pageTitleWrap h1,
	.woocommerce .woocommerce-breadcrumb {
		text-align: center;
	}
	.woocommerce div.product form.cart .button {
		width: 100%;
		box-sizing: border-box;
	}
	.woocommerce div.product div.images {
		margin-bottom: 0px;
	}
	.single-product .reldivider {
		margin-top: 70px;
	}
	#thumbnails-wrap .slick-prev {
		background-image: url(../images/arrow-left.png);
		height: 130px;
		width: 20px;
		left: 0px;
		top: 0px;
		-webkit-transform: translate(0, 0%);
		-ms-transform: translate(0, 0%);
		transform: translate(0, 0%);
	}
	#thumbnails-wrap .slick-next {
		background-image: url(../images/arrow-right.png);
		height: 130px;
		width: 20px;
		left: auto;
		bottom: auto;
		top: 0px;
		right: 0px;
		-webkit-transform: translate(0, 0%);
		-ms-transform: translate(0, 0%);
		transform: translate(0, 0%);
	}
	#product-left-wrap #thumbnails-wrap .slick-slide {
		width: 130px;
		margin-bottom: 0px;
		margin-right: 11px;
	}
	#product-left-wrap #thumbnails-wrap .woocommerce-product-gallery__image {
	}
}
@media only screen and (max-width : 1197px) {
	#featuredSpots #featuredSliderContainer #featuredSpotSlider {
		width: 878px;
		margin: 0 auto;
	}
}
@media only screen and (max-width : 1150px) {
	header#mainHdr.notAtTop {
	    background-position: calc(50% - 40px) bottom;
	}
	header#mainHdr #logo img {
		height: 70px;
		top: 16px;
	}
}
@media only screen and (max-width : 1120px) {
	#featuredSpots #yellowTop {
		background-image: url(../images/yellow-angle-top-small.png);
	}
	#featuredSpots #yellowTop a {
		float: right;
		position: relative;
		top: 49px;
	}

}
@media only screen and (max-width : 1040px) {
	header#mainHdr,
	header#mainHdr.notAtTop {
		background-image: url(../images/header-background-sm.png);
    	background-position: calc(50% - 40px) bottom;
    	height: 60px;
	}
	header#mainHdr #logo img,
	header#mainHdr.notAtTop #logo img {
	    top: 4px;
	    height: 49px;
	}
	header#mainHdr.notAtTop #mainNav a,
	header#mainHdr #mainNav a {
		font-size: 16px;
		line-height: 55px;
	}
	header#mainHdr #mainNav #navWrap ul li a,
	header#mainHdr.notAtTop #mainNav #navWrap ul li a {
		height: 53px;
	}
	header#mainHdr #headerAngle {
		position: relative;
		top: 5px;
	}
	.woocommerce ul.products li.product {
		width: 47%;
	}
	.woocommerce ul.products li.product:nth-child(3n) {
		margin-right: 19px;
	}
	.woocommerce ul.products li.product:nth-child(2n) {
		margin-right: 0px;
	}
}
@media only screen and (max-width : 990px) {
	header#mainHdr #mainNav #navWrap {
		display: none;
	}
	.sfm-pos-right .sfm-rollback .sfm-navicon-button {
		display: block;
	}
	header#mainHdr #mainNav #rightNav {
		margin-right: 50px;
	}
	header#mainHdr, header#mainHdr.notAtTop {
		background-position: -100px top;
		height: 53px;
	}
	
}
@media only screen and (max-width : 920px) {
	header#mainHdr #headerAngle {
		top: -2px;
	}
	#howsItWork h3 {
		text-align: center;
		display: block;
	}
	#howsItWork h3 a {
		display: block;
	}
	#howsItWork #hiwItems {
		display: block;
		text-align: center;
	}
	#howsItWork #hiwItems .item {
		background-image: url(../images/hiwItemM.png);
		padding: 30px 30px 100px 30px;
		margin-bottom: 30px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	#featuredSpots #yellowTop {
		background-position: -50px top;
	}
	#featuredSpots #featuredSliderContainer #featuredSpotSlider {
		width: 599px;
	}
	#pageTitle {
		height: 260px;
	}
	#pageTitle h1 {
		padding-top: 63px;
		line-height: 172px;
		font-size: 58px;
	}
	#productList {
		margin-left: 225px;
	}
	#categoryListWrapper {
		width: 225px;
	}
}
@media only screen and (max-width : 778px) {
	#mobile-category-btn {
		display: block;
		border-bottom: solid 1px #dbdbdb;
	}
	#categoryListWrapper #mobile-categories > ul > li:first-child a {
		border-top: 0px;
	}
	#categoryList {
		float: none;
	}
	#categoryListWrapper {
		width: auto;
	}
	#mobile-categories {
		display: none;
	}
	#productList {
		margin-left: 0px;
	}
	.woocommerce ul.products {
		padding: 0px 25px;
		justify-content:  space-between;
	}
	#popupSearch #searchBtn2 {
		width: 15%;
	}
	#popupSearch input {
		width: 85%;
	}
}
@media only screen and (max-width : 768px) {
	.woocommerce ul.products li.product {
		width: 47% !important;
		float: none !important;
		margin-right: 19px !important;
	}
	.woocommerce ul.products li.product:nth-child(2n) {
		margin-right: 0px !important;
		float: none !important;
	}
}
@media only screen and (max-width : 740px) {
	footer #linksWrap {
		display: block;
		width: auto;
		text-align: center;
		float: none;
	}
	footer #linksWrap .linkColumn {
		width: auto;
		padding-right: 0px;
		padding-bottom: 30px;
	}
	footer #linksWrap .linkColumn ul {
		column-count: 1;
	}
	footer #logoSocials {
		float: none;
		margin: 0 auto;
	}
	footer #logoSocials #logo img {
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	footer #footerLeftText {
		float: none;
		text-align: center;
	}

}
@media only screen and (max-width : 660px) {
	#product-left-wrap, #product-right-wrap, #product-left-wrap #thumbnails-wrap {
		width: auto;
	}
}
@media only screen and (max-width : 639px) {
	#featuredSpots #featuredSliderContainer #featuredSpotSlider {
		width: 320px;
	}
	#howsItWork #hiwItems .item {
		width: auto;
	}
	#featuredSpots #featuredSliderContainer {
		border-top: solid 7px #00bc70;
	}
	#featuredSpots #yellowTop {
		background-image: none;
		text-align: center;
		height: auto;
		padding-bottom: 30px;

	}
	#featuredSpots #yellowTop h3 {
		display: block;
		text-align: center;
		color: #000000;
		margin-bottom: 0px;
		line-height: 27px;
	}
	#featuredSpots #yellowTop a {
		display: block;
		top: 0px;
		float: none;
		color: #00bc70;
	}
	header#mainHdr #mainNav {
		width: auto;
		float: right;
	}
	header#mainHdr #navLeft {
		width: auto;
	}
}
@media only screen and (max-width : 540px) {
	.woocommerce ul.products {
		display: block;
	}
	.woocommerce ul.products li.product {
		width: auto !important;
		margin-right: 0px !important;
	}
	#headerAngle {
		display: none;
	}
}
@media only screen and (max-width : 435px) {
	.woocommerce-page table.cart td.actions .coupon .input-text + .button,
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		width: 100%;
		float: none;
		display: block;
		margin-bottom: 5px;
	}
	#popupSearch #searchBtn2 {
		width: 20%;
	}
	#popupSearch input {
		width: 80%;
	}
}