/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft,
div.scrollingHotSpotLeft span.hover
{
	width: 63px;
	height: 87px;
	/* There is a big background image and it's used to solve some problems I experienced
    in Internet Explorer 6. */
	background-image: url(../images/ticker/ticker-left-fade.png);
	position: absolute;
	z-index: 200;
	left: 0px;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
	cursor: pointer;
	display: block;
	top: 0px;
	background-repeat: no-repeat;
}

/* Visible left hotspot */
div.scrollingHotSpotLeftVisible
{
	background-image: url(../../images/arrow_left.gif);				
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35; /* Standard CSS3 opacity setting */
	-moz-opacity: 0.35; /* Opacity for really old versions of Mozilla Firefox (0.9 or older) */
	filter: alpha(opacity = 35); /* Opacity for Internet Explorer. */
	zoom: 1; /* Trigger "hasLayout" in Internet Explorer 6 or older versions */
}

/* Invisible right hotspot */
div.scrollingHotSpotRight,
div.scrollingHotSpotRight span.hover
{
	width: 63px;
	height: 87px;
	background-image: url(../images/ticker/ticker-right-fade.png);
	position: absolute;
	z-index: 200;
	right: 0px;
	cursor: pointer;
	display: block;
	top: 0px;
	background-repeat: no-repeat;
}

/* Visible right hotspot */
div.scrollingHotSpotRightVisible
{
	background-image: url(../../images/arrow_right.gif);
	background-color: #fff;
	background-repeat: no-repeat;
	opacity: 0.35;
	filter: alpha(opacity = 35);
	-moz-opacity: 0.35;
	zoom: 1;
}

/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px 0 0 0px;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}



#makeMeScrollable
{
	width: 100%;
	position: relative;
	padding-top: 0px;
}
#makeMeScrollable img 
{
	position: relative;
	float: left;
	margin: 0px;
	padding: 0px 30px;
	/* If you don't want the images in the scroller to be selectable, try the following
	   block of code. It's just a nice feature that prevent the images from
	   accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#makeMeScrollable p 
	{
	display: block;
	float: left;
	margin:0;
	font-family: Calibri;
	font-size:18px;
	font-weight:bold;
	color: #504c4a;
	white-space: nowrap;
	padding: 0px 15px;
	}
#makeMeScrollable p a  {
	text-decoration: none;
	color: #202020;
}
.fade-left {
	background-image: url(../images/FadeOut.png);
	height: 28px;
	width: 26px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 900;
	left: 264px;
	display: block;
	top: 8px;
}
.fade-right {
	background-image: url(../images/FadeIn.png);
	background-position:top right;
	height: 28px;
	width: 26px;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 900;
	left: 885px;
	display: block;
	top: 8px;
}
#tickerWrap {
	width: 1090px;
	height: 89px;
	margin: 0 auto;
}
#tickerWrap #tickerWrapInner {
	width: 980px;
	margin: 0 auto;
}
